/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Reset above, our CSS below */

html, body, * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header img {
  width: 150px;
  height: 150px;
}

.header p {
  font-size: 48px;
}

.cards {
  width: 100%;
}

.card {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1px 6px -2px #000;
  background-color: #FFF;
  margin-bottom: 30px;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 3px;
}

.name {
  font-size: 3.4rem;
}

.card p {
  font-size: 1.4rem;
  margin-bottom: 3px;
}

.card .username {
  font-size: 1.8rem;
  font-style: italic;
  margin: 3px 0 10px;
}

.calender {
  width: 100%; height : auto;
  margin-top: 10px;
}

.preClick {
  width: 30px; height: 30px;
  align-self: flex-end;
  border: none;
  border-radius: 50%;
  background-color: #1fc8db;
  background-image: url('../github-usercard/images/menu.png');
  background-size: cover;
  transition: background-color 200ms ease-in-out;
}

.preClick:hover {
  background-color: #1fdb6d;
  border-radius: 50%;
}

.postClick {
  width: 30px; height: 30px;
  align-self: flex-end;
  border: none;
  border-radius: 50%;
  background-color: #1fdb6d;
  background-image: url('../github-usercard/images/menu.png');
  background-size: cover;
  transition: background-color 200ms ease-in-out;
}

.postClick:hover {
  background-color: #1fc8db;
  border-radius: 50%;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.wiggle {
  box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
  backface-visibility: hidden;
  transform: translateZ(0px);
  animation-duration: 5000ms;
  animation-name: wiggle;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.dropdown {
  animation-name: dropdown;
}

@keyframes dropdown {
  
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  74% {
    transform: rotate(0deg);
  }
  75% {
    box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(7deg);
  }
  
  80% {
    box-shadow:  inset -11px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(-14deg);
  }
  
  85% {
    box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(4deg);
  }
  
  90% {
    box-shadow:  inset -8px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(-2deg);
  }
  
  95% {
    box-shadow:  inset -7px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(0deg);
  }
  100% {
    box-shadow:  inset -7px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(0deg);
  }
}

